div {
  width: 50%;
  margin: 0 auto 20px;
  text-align: center;
}

form {
  width: 50%;
  margin: 0 auto 20px;
  text-align: center;
}
input {
  display: block;
  width: 50%;
  margin: 0 auto 10px;
}
